/***************TAG SELECTOR************/
a {
  color: white;
  text-decoration: none;
}

body {
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
  color: #40514E;
}

h1 {
  font-size: 5rem;
  margin: 20px auto 0 auto;
  font-family: "Sacramento", cursive;
  color: #0F0E0E;
  font-weight: 600;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #0F0E0E;
  padding: 10px 20px 20px 20px;
  margin-top: 0;
  font-weight: 600;
}

h3 {
  color: #0F0E0E;
  font-family: "Montserrat", sans-serif;
  font-size: 1.5rem;
  font-weight: bold;
}

h4 {
  color: #0F0E0E;
  font-family: "Montserrat", sans-serif;
  text-align: left;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 20px auto 0px;
  width: 75%;
}

h6 {
  font-weight: 00;
}

.divider {
  border: dotted #EEEEEE 6px;
  /* #EAF6F6 #B8DFD8 */
  border-bottom: none;
  width: 5%;
  margin: 60px auto;
}

p {
  line-height: 2;
}

.about-me {
  /* background-color: #FFFCDC; */
  /* background-color: #6998AB;
  background-color: #B8DFD8; */
}

.activity {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 20px auto;
}

.act-points {
  margin-top: 30px;
  text-align: left;
  padding-left: 20px;
  margin-left: 20px;
  line-height: 1.5;
}

.bio {
  font-size: 1.5rem;
  padding-bottom: 0;
}

.btn-project {
  margin-top: 20px;
  margin-bottom: 50px;
  border-width: 0;
  padding: 0 10px;
}
.btn-link{
  color:#337AB7;
  /* color:#4FBDBA; */
  float:right;
}
.card{
  float: left;
  margin-right:30px;
  margin-top: 30px;
}

.card-program{
  box-shadow: 2px 2px;
  border: none;
  background-color: #F5F5F5;
}
.card-project {
  margin: 10px auto 0;
  background-color: #FEFBF3;
  /* #EEF2FF; */
  float: left;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.contact-me {
  /* background-color: #66BFBF; */
  color: white;
  background-color: #6998AB;
  padding-bottom: 5%;
}

.contact-message {
  width: 40%;
  margin: 10px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.cv-divider {
  margin: 10px auto;
  width: 78%;
  border-bottom: none;
  border-width: medium;
  position: relative;
  left:10px;
}

.education {
  width: 70%;
  margin: 10px auto;
  text-align: center;
}

.edu-col {
  /* display: inline-block; */
  background-color: #B1D0E0;
  margin: 10px auto 10px;
  padding: 10px 20px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.footer-link {
  margin: 0 25px;
  position: relative;
  left: 20%;
}

.fa-calendar-alt{
  font-weight: 400;
  font-size: 1rem;
  float:right;
  font-family: "Montserrat";
  margin-right: 8px;
}

.getintouch{

  padding-top: 30px;
}
.hobbies {
  width: 100%;
  margin: auto;
}

.hobby-img {
  width: 40%;
  border-radius: 10px;
}

/* brief self-intro */
.intro {
  text-align: left;
  padding: 0px 20px;
  margin: 0;
}

.intro-link{
  color:#40514E;
  text-decoration:underline;
}
.intro-link:hover{
  color: #121212;
}

.img-with-text {
  display: inline-block;
  margin: 20px 0px 10px 0px;
  width: 20%;
}



.points {
  text-align: left;
  font-size: 1rem;
  width: 80%;
  margin: 5px 100px;
  font-weight: 200;
  padding-left: 20px;
}

.program {
  margin: 10px auto;
  width: 70%;
  background-color: #FFF9F9;
  background-color: #F5F5F5;
  padding: 30px 40px;
  border-radius: 10px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}

.program-img2 {
  float: right;
  border-radius: 5px;
  margin-top: 5px;
  margin-left: 10px;
}

.major {
  width: 80px;
  height: 80px;
  padding: 10px 20px;
}

.middle-container {
  margin: 0px auto;
  padding-top: 20px;
  background-color: #FEFBF3;

}

.nav {
  float: left;
  margin-left: 20px;
  /* font-family: "Montserrat", sans-serif; */
}

.nav-item {
  margin: auto 0px;
  font-size: 18px;
  font-family: "Montserrat";
}

.profile {
  border-radius: 25px;
  background-color: #93B5C6;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 10px;
    box-shadow:5px 5px;
}

.profile-pic {
  border: 5px solid white;
  width: 16%;
  height: 16%;
  border-radius: 50%;
}

.projects {
  margin:10px auto 0px;
  background-color: #FEFBF3;
  background-color: transparent;
}

.self-intro {
  font-weight: normal;
  padding-bottom: 10px;
  padding-top: 5px;
  margin-top: 0px;

}

.project-row {
  width: 60%;
  margin: auto auto 50px auto;
  text-align: left;
}

.project1-img {
  width: 25%;
  height: 50%;
  float: left;
  margin-top: 10px;
  margin-right: 30px;
  border-radius: 5px
}

.project2-img {
  width: 25%;
  height: 50%;
  float: right;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px
}

.project3-img {
  width: 25%;
  float: left;
  margin-top: 10px;
  margin-right: 30px;
  border-radius: 5px
}

.project4-img {
  width: 25%;
  height: 50%;
  float: right;
  margin-left: 30px;
  margin-top: 10px;
  margin-bottom: 20px;
  border-radius: 5px
}

.skill {
font-family: sans-serif;
text-align: right;
/* float: left; */
}

.see-projects {
  padding-bottom: 40px;
  padding-top: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.tags {
  background-color: #B1D0E0;
  margin: 0;
  padding: 20px 0 0;
  position: relative;
}

.top-container {
  background-color: #B1D0E0;
  position: relative;
  padding-top: 100px;
  margin-bottom: 0;
}

.title {
  font-style: italic;
  font-weight: lighter;
}

.ug {
  text-align: left;
  margin-top: 0px;
}

.ug-img, .master-img {
  width: 180px;
  height: 210px;
  margin-right: 20px;
  border-radius: 5px;
  float: left;
}

.ms {
  text-align: left;
  margin-top: 0;
}

/* .master-img {
  width: 20%;
  height: 10%;
  margin-left: 20px;
  float: right;
  border-radius: 5px;
} */
.work-experience {
box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.bottom-container {
  background-color: #30475E;
  padding: 10px 0 10px;
}

/* a {
  color: white;
  font-family: "Montserrat", sans-serif;
  ;
  margin: 10px 20px;
  text-decoration: none;
} */
a:hover {
  color: #EAF6F6;
}

.work-experience {
  width: 70%;
  background-color: #D3DEDC;
  /* #D3DEDC; */
  padding: 35px;
  margin: 10px auto 10px;
  border-radius: 10px;
}

.btn-contact {
  -webkit-border-radius: 36;
  -moz-border-radius: 36;
  border-radius: 36px;
  font-family: "Montserrat";
  color: #ffffff;
  font-size: 15px;
  background: #059aab;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  font-weight: 600;

/* border-style: groove; */
}

.btn-contact:hover {
  background: #038d9c;
  text-decoration: none;
}
